

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
      
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
     <a class="navbar-brand mt-2 mt-lg-0" href="#">
         <a class="nav-link" href="#">Store</a>
      </a>
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item">
          <%=link_to "products" , pages_path , class:"nav-link"%>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>
    <!-- Right elements -->
   <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
         <%=link_to "Log In" ,sign_in_path ,class:"nav-link" %>
        </li>
      </ul>
   <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
         <%=link_to "Sign Up" ,register_path ,class:"nav-link btn btn-secondary"%>
        </li>
      </ul>
</nav>
<!-- Navbar -->

<!-- Background image -->
<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('https://storefront-api.p1.store.net.sap/medias/Publish-btn1-compressed.jpg?context=bWFzdGVyfHJvb3R8NTQ0ODJ8aW1hZ2UvanBlZ3xoMDUvaGNkLzg4ODMyMjAxODUxMTgvUHVibGlzaF9idG4xLWNvbXByZXNzZWQuanBnfGE0MTlkMWYwYjZmYWY3ODdlYmM5ZWQxODc0MTI5YjhjZGY1M2U5MmNlZmQ4NWJmMGUzZjA1Y2I3ZWFjYzg0N2I');
    height: 50vh;
  "
>
  <h1 class="text-white">Our Store</h1>
</div>
<!-- Background image -->






